<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=for, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"></link> 
</head>
<body>
    <form action=""method="post">
        <label for="">Nome</label>
        <input type="text" value="Bergamota"><br>
        <label for="">Estádio</label>
        <input type="text" value="Beira Lago"><br>
        <button type="submit">Enviar</button>
    </form>
<br>
       
</body>
</html>